textarea{
	resize:none;
	width:50%;
	height:200px;
}

#createPostTitle{
	width:100%;
}

body {
    padding-top: 50px;
  }

#navbar-logo{
	max-width:100px;
}

/*.container-userPosts{
	background: url("images/background.png") fixed no-repeat 100% 100%;
}*/

.container-dashboard{
	height:100vh;
	background-color:#000;
}

.jumbotron{
	background-color:#fff;
}

.postDiv{
	background-color:#fff;
}

.post-footer, .comment-footer{
	color:#aaa;
}

.bold-span{
	font-weight:bold;
}

.flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
    }

.loginForm {
    padding: 20px;
    width: 90vw;
    max-width: 300px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}

#errorMessage{
	color:red;
}

#postsEditor, #individualPostEditor, #cssEditor {
        width: 100%;
        height: 500px;
    }

#templatePreview{
	height:500px;
	overflow:scroll;
	margin-top:50px;
	margin-bottom:50px;
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}