textarea{
	resize:none;
}

#navbar-logo{
	max-width:100px;
}

body{
	background: url("images/background.png");
}

.jumbotron{
	background-color:#fff;
}

.postDiv{
	background-color:#fff;
}

.post-footer{
	color:#aaa;
}