<template name="mainPage">
            {{#unless currentUser}}
                {{> loginPage}}
            {{else}}
                {{> dashboard}}
            {{/unless}}
</template>

<template name="loginPage">
    <div class="flex-container">
        <div class="loginForm">
            <form class="form-horizontal">
                <span id="errorMessage"></span>
                <br>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-12">
                        <input type="email" required class="form-control" id="inputEmail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-12">
                        <input type="password" required class="form-control" id="inputPassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-default" id="loginButton">Login</button>
                        <button class="btn btn-default" id="registerButton">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<template name="dashboard">
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="dashboardPill active" id="dashboardHome"><a href="#">Dashboard</a></li>
            <li class="dashboardPill" id="addPost"><a href="#">Create Post</a></li>
            <li class="dashboardPill" id="managePosts"><a href="#">Your Posts</a></li>
            <li class="dashboardPill" id="manageYourComments"><a href="#">Your Comments</a></li>
            <li class="dashboardPill" id="manageBlogComments"><a href="#">Blog Comments</a></li>
            <li class="dashboardPill" id="manageProfile"><a href="#">Edit Profile</a></li>
            <li class="dashboardPill" id="editTemplate"><a href="#">Edit Template</a></li>
          </ul>
        </div>
        {{#if dashboardPill 'dashboardHome'}}
            {{> dashboardHome}}
        {{else}}
            {{#if dashboardPill 'addPost'}}
                {{> addPost}}
            {{else}}
                {{#if dashboardPill 'managePosts'}}
                    {{> managePosts}}
                {{else}}
                    {{#if dashboardPill 'manageYourComments'}}
                        {{> manageYourComments}}
                    {{else}}
                        {{#if dashboardPill 'manageBlogComments'}}
                            {{> manageBlogComments}}
                        {{else}}
                            {{#if dashboardPill 'manageProfile'}}
                                {{> manageProfile}}
                            {{else}}
                                {{#if dashboardPill 'editTemplate'}}
                                    {{> editTemplate}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
      </div>
    </div>
</template>
    
<template name="dashboardHome">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome Back, {{loggedInUser}}</h1>
    </div>
    {{#each getUsers}}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <a href="/{{_id}}">{{_id}}</a>
        </div>
    {{/each}}
</template>

<template name="addPost">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Create Post</h1>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        Post Title
        <br>
        <input type="text" id="postTitle">
        <br><br>
        Post Content
        <br>
        <textarea id="postContent"></textarea>
        <br>
        <button id="addNewPost">Add</button>
    </div>
</template>

<template name="managePosts">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Your Posts</h1>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <form name="postsForm">
            <table class="table table-hover">
                    <tr>
                        <th> </th>
                        <th>Blog Title</th>
                        <th>Post Date</th>
                    </tr>
                <tbody>
                    {{#each getPosts}}
                    <tr>
                        <td><input type="checkbox" name="posts" value="{{_id}}"></td>
                        <td>{{postTitle}}</td>
                        <td>{{postTimestamp}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div>
                <input type="submit" value="Delete">
            </div>
        </form>
    </div>
</template>

<template name="manageYourComments">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Your Comments</h1>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <form name="postsForm">
            <table class="table table-hover">
                    <tr>
                        <th> </th>
                        <th>Comment</th>
                        <th>Post Date</th>
                    </tr>
                <tbody>
                    {{#each getComments}}
                    <tr>
                        <td><input type="checkbox" name="posts" value="{{_id}}"></td>
                        <td>{{commentContent}}</td>
                        <td>{{commentTimestamp}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div>
                <input type="submit" value="Delete">
            </div>
        </form>
    </div>
</template>

<template name="manageBlogComments">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Blog Comments</h1>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <form name="postsForm">
            <table class="table table-hover">
                    <tr>
                        <th> </th>
                        <th>Comment</th>
                        <th>User</th>
                        <th>Post Date</th>
                    </tr>
                <tbody>
                    {{#each getComments}}
                    <tr>
                        <td><input type="checkbox" name="posts" value="{{_id}}"></td>
                        <td>{{commentContent}}</td>
                        <td>{{commentUserID}}</td>
                        <td>{{commentTimestamp}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div>
                <input type="submit" value="Delete">
            </div>
        </form>
    </div>
</template>

<template name="manageProfile">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Edit Profile</h1>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="firstName">
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="lastName">
            </div>
          </div>
          <div class="form-group">
            <label for="blogTitle" class="col-sm-2 control-label">Blog Title</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="blogTitle">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" class="btn btn-default" value="Submit">
            </div>
          </div>
        </form>
    </div>
</template>

<template name="editTemplate">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Edit Template</h1>
    </div>
    <style>
    #postsEditor, #individualPostEditor, #cssEditor {
        width: 100%;
        height: 500px;
    }
    </style>
    <div class="row">
        <div class="col-sm-7 col-sm-offset-4 col-md-8 col-md-offset-3">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#postsEditor" data-toggle="tab">Main Page</a></li>
                <li><a href="#individualPostEditor" data-toggle="tab">Blog Post</a></li>
                <li><a href="#cssEditor" data-toggle="tab">CSS</a></li>
            </ul>
            <div class="tab-content">
                <div id="postsEditor" class="tab-pane active"></div>
                <div id="individualPostEditor" class="tab-pane"></div>
                <div id="cssEditor" class="tab-pane"></div>
            </div>
            <button id="saveCode">Add</button>
            <button id="preview">Preview</button>
        </div>
        <div class="col-sm-7 col-sm-offset-4 col-md-8 col-md-offset-3" id="templatePreview">
        <br>
            {{{getPosts}}}
        </div>
    </div>
</template>