<template name="userPosts">
	<div class="container-fluid container-userPosts">
		<div class="jumbotron">
			<h1>My Blog</h1>
		</div>
		{{#each getPosts}}
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 postDiv">
			  		<a href="/{{userID}}/{{_id}}"><h3>{{postTitle}}</h3></a>
			  		<br>
			  		{{postContent}}
			  		<br><br>
			  		<span class="post-footer">Posted on {{postTimestamp}} | {{postComments.length}} comments</span>
			  		<br><br>
		  		</div>
	  		</div>
	  		<br><br><br>
		{{/each}}
	</div>
</template>

<template name="addComment">
	<div class="container-fluid container-userPosts">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 postDiv">
		  		<a href="/{{userID}}/{{_id}}"><h3>{{postTitle}}</h3></a>
		  		<br>
		  		{{postContent}}
	  		</div>
		</div>
		<br><br><br>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 postDiv">
				<h2>Comments</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 postDiv">
			    {{#each postComments}}
			    	<span class="bold-span">{{commentUserID}}</span>
			    	<br>
			        {{commentContent}}
			        <br>
			        <span class="comment-footer">{{commentTimestamp}}</span>
			        <br><br><br>
			    {{/each}}
	    	</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 postDiv">
				<h4>Add Comment</h4>
				<form>
			 		<textarea id="postComment"></textarea><br>
			 		<input type="submit" value="Submit">
			 	</form>
		 	</div>
	 	</div>
 	</div>
</template>

<template name="topNavBar">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
		    	<a class="navbar-brand" href="/"><img id="navbar-logo" src="images/logo2.png" /></a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		        {{> loginButtons align="right"}}
		    </ul>
	    </div>
    </nav>
</template>