<template name="newPost">
	{{#each getPosts}}
  		<a href="/posts/{{_id}}">{{postTitle}}</a>
  		<br>
  		{{postContent}}
  		<br>
  		{{postComments.length}}
  		<br>
	{{/each}}

	Post Title:<input type="text" id="postTitle">
	Post Content:<textarea id="postContent"></textarea>
	<button id="addPost">Add</button>
	<button id="removePosts">Remove All</button>
</template>

<template name="blogPage">
	{{postTitle}}<br>{{postContent}}
	<br>
	Add Comment
	<br>
	<ul>
    {{#each postComments}}
        {{comment}}<br>
    {{/each}}
    </ul>
	<form>
 		<textarea id="postComment"></textarea>
 		<input type="submit" value="Submit">
 	</form>
</template>